<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom" style="background-color: #AED581;">

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><nav><a routerLink="" class="nav-link px-2 link-dark" style="margin-left: 20px;">Inicio</a></nav></li>
  </ul>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><nav><a routerLink="login" class="nav-link px-2 link-dark">Iniciar sesion</a></nav></li>
    <li><nav><a routerLink="register" class="nav-link px-2 link-dark" style="margin-right: 20px;">Registrarse</a></nav></li>

  </ul>



</header>
